$color-primary:#5a73fc;
$color-primary-light:#8e9efc;
$color-primary-dark:#1c3eff;
$color-white:#fff;
$color-grey:#777777;
$color-black:black;
$color-white-1:rgb(238, 239, 241);
$default-text-font-size:1.6rem;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-tertiary-light:#55c57a;
$color-tertiary-dark:#28b485;
$color-grey-dark:#333;
$color-grey-light:#f7f7f7;