.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

.none {
    width: 100%;
    @include respond(tab-port) {
        max-width: 60rem;
        margin: 2rem auto;
    }
}