.footer {
    background-color: $color-grey-dark;
    color: $color-grey-light;
    font-size: 1.4rem;
    padding: 10rem 0;
    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo {
        width: 20rem;
        height: auto;
    }
    &__title {
        display: block;
        color: $color-primary;
    }
    &__copyright {
        border-top: .1rem solid $color-grey-light;
        padding-top: 2rem;
        width: 70%;
        float: right;
    }
    &__nav {
        border-top: .1rem solid $color-grey-light;
        padding-top: 2rem;
        display: inline-block;
    }
    &__list {
        list-style: none;
    }
    &__item {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            color: $color-grey-light;
            background-color: $color-grey-dark;
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            border-radius: 5rem;
            transition: all 0.2s;
            &:hover,
            &:active {
                color: $color-primary;
                box-shadow: 0 1rem 2rem rgba($color: $color-black, $alpha: .3);
                transform: rotate(5deg) scale(1.05);
            }
        }
    }
}